body{
    text-align: center;
}
.home{
    background: url("../assets/backgrounds/h_img.jpg");
    
    background-color: #cccccc;
    height: auto;
    width: auto;
    padding: 20px;
    
}
.services{
    background: url("../assets/backgrounds/s_image.jpg");
    color: white;
    padding: 10px;
}
.design{
    display: none;
}
.dev{
    display: none;
}
.product{
    display: none;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 15px;
}